body{
    overflow-x: hidden;

}
.bar{
    
position: fixed;/*fixed make block is inline block*/
 width: 100%;/*the solution*/
  z-index: 10;/*the solution*/
    border: 1px solid rgb(231, 230, 230);
    
}



.navbar-brand {
    margin-right: 662px;
}
.img {
    max-width: 211px;
}
nav a:hover{
    border-bottom:     1px solid #eb6d6d    ;
}
.navbar{
    background-color: white;
}
.overlay{
    position: absolute;/* for edit the bacgrond img and make it darker than */
    width: 100%;/*100% from the parent img*/
    height: 100%;/*100% from the parent img*/
    top:0%;/*in the top of parent*/
    left: 0%;/*in the left of parent*/
    background-color: rgba(0, 0, 0, 0.3);/*edit the opacity or degree of black*/
}
.home{
    position: relative;
    background-image: url(../img/2000_5b388764c1a7d.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    
}
.titles{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.titles h1{
color: white;
text-shadow: 5px 5px 6px black;
font-size: 50px;
font-family: 'Playball', cursive;
}
.titles p{
    color: white;
    text-shadow: 5px 5px 6px black;
    font-size: 20px;
}
section{
    margin-bottom: 100px;
}
.header{
    text-align: center;
    position: relative;
    
}
.header span{
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 5%;
    height: 2.5px;
    background-color:#eb6d6d;
    margin-left: 532px;

}
.zoomin{
margin-top: 100px;
margin-left: 107px;

}
.card-group p {
    margin-top: -40px;
    margin-left: 405px;
    font-size: 20px;
    color: white;
}
.shop{
    position: relative;
}
.row{
    margin-top: 100px;

}
.col{
    margin-bottom: 50px;
}
.col .card{
    background-color: rgb(231, 230, 230);
}
.our-stor {
    background-color: rgb(231, 230, 230);

}
#stor{
    background-color: rgb(231, 230, 230);
   border: none;
}
#poster img{
    border-radius: 20px;
}
.location{
    position: relative;
    background-image: url(../img/2000_5b3893e5c4bf5.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.contact-us{
    margin-left: 200px;
}
.btn{
    background-color: #eb6d6d;
    color: white;
    border: none;
}
.user-input{
    background-color: rgb(231, 230, 230);

}
.icon{
    color: #eb6d6d;
    margin-bottom: 10px;
    margin-right: 5px;
}
.map{
    width: 690px;
    border: none;
    height: 300px;
    margin-left: 14px;
    margin-top: -20px;
}
.footer-link li a{
    color: #eb6d6d;
}
.copy-right{
    margin-right: 511px;
}
.copy-right .copy-line{
    color: #eb6d6d;
}
.copy-right li{
    list-style: none;
}
.nav-item a{
color: black;
}
.nav-item a:hover{
    color: #eb6d6d;
}
.footer{
    margin-top: 50px;
}
.footer-link {
    margin-right: -29px;
    margin-top: -15px;
}
.footer-link li:hover{
    opacity:0.5;

}
.footer-link li{
    list-style: none;
    display: inline-block;
 margin-right: 44px;
 margin-top: 20px;
}
.footer-link i{
    margin-top: 17px;
}

.footer-link li a{
    display: block;
    width: 50px;
    height: 50px;
    background: #eb6d6d;
    color: #fff;
    border-radius: 50%;
    margin-left: -25px;
    text-align: center;
}
